 <h2>Cart</h2>


<div class="row" id="cart">
    {{#if books.length}}
        <table>
            <thead>
                <th>Title</th>
                <th>Count</th>
                <th>Action</th>
            </thead>
            <tbody>
                {{#each books}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{count}}</td>
                        <td>
                            <button class="btn red remove" data-id="{{_id}}" >Delete</button>
                        </td>
                    </tr>
                {{/each }}
            </tbody>
        </table>
        <h4>Total Price: {{price}}</h4>
    {{else }}
        <strong>Books aren't yet</strong>
    {{/if}}
</div>